@import 'var';

#header-id {
    width: 100%;
    background-color: $main-color;
    #header-main {
        max-width: 120em;
        margin: 0 auto;
        .header-top {
            max-width: 85%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 0.5em 0.3em;
            border-bottom: white 1px solid;
            .social {
                display: flex;
                .follow {
                    color: white;
                }
                .social-network {
                    color: white;
                    margin-left: 1em;
                }
                a:hover {
                    color: yellow;
                }
            }
            .hotline-info {
                display: flex;
                img {
                    max-width: 25px;
                    max-height: 25px;
                    width: auto;
                    height: auto;
                    margin-right: 5px;
                }
                div {
                    span {
                        color: white;
                        font-family: Roboto;
                    }
                    a {
                        text-decoration: none;
                        color: yellow;
                    }
                }
            }
        }
    }
    .header-container {
        max-width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0.5em 0.3em;
        .logo {
            a {
                img {
                    display: block;
                    max-width: 12.5em;
                    max-height: 3.75em;
                    width: auto;
                    height: auto;
                }
            }
        }
        .search {
            margin-top: 6px;
            margin-left: 3em;
            // width: 20vw;
            form {
                input {
                    padding: 0.7em 0.7em;
                    width: 25vw;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                }
            }
        }
        // .login-cart{
        //     max-width: 25%;
        // }
    }
    #nav-bar {
        width: 100%;
        background-color: #eef0f7;
        .menu-nav-bar {
            margin: 0 auto;
            max-width: 120em;
            .list-menu {
                margin: 0 auto;
                width: 90%;
                display: flex;
                list-style: none;
                position: relative;
                .tilte-menu {
                    padding: 0.7em 0;
                    margin-right: 3em;
                    // position: relative;
                    a {
                        padding: 1em 0;
                        text-decoration: none;
                        color: $text-color;
                        font-weight: unset;
                    }
                    .submenu {
                        display: none;
                        list-style: none;
                        position: absolute;
                        background-color: white;
                        top: 100%;
                        width: 94%;
                        padding-left: 0;
                        z-index: 2;
                        border-right: 1px solid cadetblue;
                        border-bottom: 1px solid cadetblue;
                        .menu-mini {
                            // position: relative;
                            width: 20%;
                            padding: 0.6em 0.5em;
                            border-left: 1px solid cadetblue;
                            border-bottom: 1px solid cadetblue;
                            .fa-angle-right {
                                float: right;
                            }

                            .detail-sb-menu {
                                display: none;
                                position: absolute;
                                // width: calc(100%-14em);
                                padding: 0;
                                width: 80%;
                                right: 0;
                                top: 0;
                                .title-sb-menu {
                                    color: $main-color;
                                    padding: 0.5em 0 0 1em;
                                }
                                .container-sb-menu {
                                    // width: 60%;
                                    display: flex;
                                    justify-content: space-between;
                                    .list-sb-menu {
                                        width: 66%;
                                        list-style: none;
                                        padding-left: 0;
                                        display: grid;
                                        clear: both;
                                        grid-template-columns: 50% 50%;
                                        grid-template-rows: 2.7em 2.7em 2.7em 2.7em 2.7em;
                                        a {
                                            padding: 0.6em 0 0 1.5em;
                                        }
                                        a:hover {
                                            background-color: #d2d2d2;
                                        }
                                    }
                                    .img-detail {
                                        width: 34%;
                                        // display: none
                                        margin-top: 80px;
                                        margin-right: 20px;
                                        .img {
                                            // display: none;
                                            float: right;
                                            max-width: 17em;
                                            max-height: 10em;
                                            width: auto;
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }
                        .menu-mini:hover {
                            background-color: $text-color;
                        }
                        .menu-mini:hover .link-menu-mn {
                            color: white;
                        }
                        .menu-mini:hover .detail-sb-menu {
                            display: block;
                        }
                    }
                }
                .product:hover .submenu {
                    display: block;
                }
            }
        }
    }
}
#slide-event {
    margin-top: 1.5em;
    margin-bottom: 2em;
    max-width: 1200px;
    max-height: 600px;
    width: auto;
    height: auto;
    // position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    // z-index: 1;
}

.login-cart {
    display: flex;
    align-items: center;
    //background-color: yellowgreen;

    .cart {
        //background-color: yellowgreen;

        .cart-in {
            background-color: $main-color;
            border-style: solid;
            border-width: 3px;
            border-radius: 5px;
            border-color: white;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            //margin-left: 20em;
            cursor: pointer;
            width: 10em;
            margin-right: 4em;
        }
    }
    .login {
        display: flex;
        //background-color: chartreuse;

        .color-r {
            text-decoration: none;
            color: white;
            font-family: Roboto;
            margin-left: 0.7em;
            clear: both;
        }
        .color-r:hover {
            color: yellow;
        }
    }
}
#user-panel {
    position: relative;
    display: inline-block;
    cursor: pointer;
    img {
        width: 3em;
        height: 3em;
        border-radius: 50%;
    }
    .dropbtn {
        color: white;
        border: none;
        background-color: $main-color;
    }
    .dropdown-user {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
            color: black;

            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: center;
        }
        a:hover {
            background-color: #ddd;
        }
    }
    .show {
        display: block;
    }
}
.account-detail{
    margin-top: 2em;
    position: relative;
    .account-detail-header{
        position: relative;
        height: 18.5em;
        .bg-user{
            height: 85%;
            width: 100%;
            overflow: hidden;
            .change-bg-acc{
                position: absolute;
                right: 10px;
                top: 10px;
                border-radius: 5px;
                border: 0;
            }
            img{
                max-width: 100%;
                // height: 80%;
                width: auto;
                height: auto;
            }
        }
    
        #user-avt{
            width: 10em;
            height: 10em;
            position: absolute;
            top: 7em;
            display: flex;
            // align-items: center;
            .avt-acc{
                // display: flex;
                img{
                    margin-left: 2em;
                    width: 10em;
                    height: 10em;
                    border-radius: 50%;
                    border-style: solid;
                    border-width: 3px;
                    border-color: white;
                    background-color: black;
                }
                #btn-change-avt{
                    display: none;
                    border: none;
                    width: 2em;
                    height: 2em;
                    border-radius: 3px;
                    background-color: #D1C2BF;
                    position: relative;
                   left: 9em;
                   top: -2.5em;
                   cursor: pointer;
                   text-align: center;
                   p{
                       margin: auto;
                   }
            }
            
            }
    
            .info-acc{
                margin-top: 2.5em;
                margin-left: 1.5em;
                p{
                    font-weight: bold;
                    font-size: 1.25em;
                    color: white;
                }
                // mtop: 50%;
            }
        }
        #user-avt:hover{
            #btn-change-avt{
                display: flex;
                
            }
        }

        .account-detail-footer{
            list-style: none;
            display: flex;
            position: absolute;
            bottom: -5px;
            left: 11.5em;
            li{
                margin-right: 10px;
                span{
                    font-weight: bold;
                }
            }
        }

    }
}
@media screen and (max-width: 85em) {
    .login-cart {
        .login {
            margin-top: 0em;
            display: flex;
            flex-direction: column;
            a {
                padding: 0em 0.5em;
            }
            .sign-in {
                margin-bottom: 0.2em;
            }
        }
        .cart {
            margin-left: 3em;
            .cart-in {
                // margin-left: 1em;
            }
        }
    }
}
