@import "var";

#header {
    width: 100%;
    background-color: #49b14d;
    #header-main {
        max-width: 120em;
        margin: 0 auto;
        .header-top {
            max-width: 85%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 0.5em 0.3em;
            border-bottom: white 1px solid;
            .social {
                display: flex;
                .follow {
                    color: white;
                }
                .social-network {
                    color: white;
                    margin-left: 1em;
                }
                a:hover {
                    color: yellow;
                }
            }
        }
    }
    .header-container {
        max-width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0.5em 0.3em;
        .logo {
            a {
                img {
                    display: block;
                    max-width: 12.5em;
                    max-height: 3.75em;
                    width: auto;
                    height: auto;
                }
            }
        }
        .search {
            margin-top: 6px;
            margin-left: 3em;
            // width: 20vw;
            form {
                input {
                    padding: 0.7em 0.7em;
                    width: 25vw;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                }
            }
        }

        
    }
    #nav-bar {
        width: 100%;
        background-color: #eef0f7;
        .menu-nav-bar {
            margin: 0 auto;
            max-width: 120em;
            .list-menu {
                margin: 0 auto;
                width: 90%;
                display: flex;
                list-style: none;
                position: relative;
                .tilte-menu {
                    padding: 0.7em 0;
                    margin-right: 3em;
                    // position: relative;
                    a {
                        padding: 1em 0;
                        text-decoration: none;
                        color: $text-color;
                        font-weight: unset;
                    }
                    .submenu {
                        display: none;
                        list-style: none;
                        position: absolute;
                        background-color: white;
                        top: 100%;
                        width: 94%;
                        padding-left: 0;
                        z-index: 2;
                        border-right: 1px solid cadetblue;
                        border-bottom: 1px solid cadetblue;
                        .menu-mini {
                            // position: relative;
                            width: 20%;
                            padding: 0.6em 0.5em;
                            border-left: 1px solid cadetblue;
                            border-bottom: 1px solid cadetblue;
                            .fa-angle-right {
                                float: right;
                            }

                            .detail-sb-menu {
                                display: none;
                                position: absolute;
                                // width: calc(100%-14em);
                                padding: 0;
                                width: 80%;
                                right: 0;
                                top: 0;
                                .title-sb-menu {
                                    color: $main-color;
                                    padding: 0.5em 0 0 1em;
                                }
                                .container-sb-menu {
                                    // width: 60%;
                                    display: flex;
                                    justify-content: space-between;
                                    .list-sb-menu {
                                        width: 66%;
                                        list-style: none;
                                        padding-left: 0;
                                        display: grid;
                                        clear: both;
                                        grid-template-columns: 50% 50%;
                                        grid-template-rows: 2.7em 2.7em 2.7em 2.7em 2.7em;
                                        li {
                                            padding: 0.6em 0 0 1.5em;
                                        }
                                        li:hover {
                                            background-color: #d2d2d2;
                                        }
                                    }
                                    .img-detail {
                                        width: 34%;
                                        // display: none
                                        margin-top: 80px;
                                        margin-right: 20px;
                                        .img {
                                            // display: none;
                                            float: right;
                                            max-width: 17em;
                                            max-height: 10em;
                                            width: auto;
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }
                        .menu-mini:hover {
                            background-color: $text-color;
                        }
                        .menu-mini:hover .link-menu-mn {
                            color: white;
                        }
                        .menu-mini:hover .detail-sb-menu {
                            display: block;
                        }
                    }
                }
                .product:hover .submenu {
                    display: block;
                }
            }
        }
    }
}
#slide-event {
    margin-top: 1.5em;
    margin-bottom: 2em;
    width: 900px;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}
#login-header {
}
.login-cart {
    
}

