@import 'var';

.sign-in {
    margin: 0 auto;
    .main-signin {
        margin: 0 auto;
        margin-top: 3em;
        margin-bottom: 3em;
        width: 40%;
        background-color: #f8f8ff;
        border-radius: 7px;
        h3 {
            padding: 2em 0;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        .fill-in-acc {
            display: block;
            margin: 0 auto;
            padding-bottom: 2em;
            div {
                input {
                    width: 80%;
                    height: 2.7em;
                    border-radius: 5px;
                    border: none;
                    padding-left: 1em;
                }
            }
            .acc {
                display: block;
                margin: 0 auto;
                .fa-user {
                    padding: 0 1.2em;
                }
            }
            .password {
                padding: 2.5em 0;
                .fa-lock {
                    padding: 0 1.1em;
                }
            }
            button {
                background-color: $text-color;
                color: white;
                margin: 0 40% 0 40%;
            }
        }
    }
}
