@import 'var';
.register-panel, .login-panel {
    margin: 3em;
    .btn {
        background-color: $main-color;
        color: white;
        border-color: $main-color;
    }
}
.small {
    color: $main-color;
    a {
        color: $main-color;
    }
}
.shadow-lg {
    border-width: 0.1em;
    border-color: $main-color;
}
h3 {
    color: $main-color;
}
