@import "var";

// Trang danh mục sản phẩm
.product-main{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    padding: 0;

    // Bộ lọc sản phẩm
    .filter{
        width: 19%;

        // Lọc theo hãng sản xuất
        .filter-manufacturer{
            background-color: #f0f3fc;
            margin-top: 10px;

            // Title
            .manufacturer{
                padding: 10px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                .fa-angle-right{
                    float: right;
                    
                }
            }

            // Danh sách hãng
            ul{
                overflow-y: auto;
                margin: 0 auto;
                width: 95%;
                border-top: 1px solid cadetblue;
                padding-left: 1em;
                padding-bottom: 1em;
                .manufacturer-main{
                    margin-top: 10px;
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 5px;
                    cursor: pointer;
                    font-size: 1em;
                    font-family: Roboto;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    input{
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    .checkmark{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        background-color: #eee;
                    }
                    .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                      }
                }
                .manufacturer-main input:checked ~ .checkmark {
                    background-color: #2196F3;
                }
        
                .manufacturer-main input:checked ~ .checkmark:after {
                    display: block;
                  }
                
                .manufacturer-main .checkmark:after {
                    left: 8px;
                    top: 4px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }

    // Danh sách sản phẩm
    .all-products{
        width: 80%;
        display: grid;
        grid-template-columns: 24.3% 24.3% 24.3% 24.3%;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;

        // Từng sản phẩm trong danh sách
        .list-all-products{
            position: relative;
            .card{
                border-radius: 0px;
                text-decoration: none;

                // Sản phẩm
                .body-card{

                    // Tiêu đề sản phẩm
                    .card-body{
                        height: 110px;
                        .card-title{
                            color: black;
                            font-family: Roboto;
                            font-size: 1.1em;
                            height: 2.5em;
                            overflow: hidden;
                            
                        }
                        .card-text{
                            font-size: 1.2em;
                            color: #f9495f;
                        }
                    }

                    // Hình ảnh
                    .image-product{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-height: 250px;
                        background-color: white;
                        .card-img-top{
                            overflow: hidden;
                            max-width: 228px;
                            max-height: 228px;
                            width: auto;
                            height: auto;
                        }
                    }
                }
            }

            // Nút mua
            .btn-buy{
                display: none;
                font-size: 1em;
                font-family: Roboto;
                padding-top: 4px;
                background-color: #f9495f;
                color: white;
                text-decoration: none;
                text-align: center;
                height: 2em;
                width: 90%;
                left: 10px;
                position: absolute;
                bottom: 7px;
            }

            .card:hover .card-text{
                display: none;
            }
            
        }
    }

    .list-all-products:hover .btn-buy {
        display: block;
    }

    .list-all-products:hover .card {
        background-color: $main-color;
    }
}