<div class="sign-in" onload="hideLogin()">
    <div class="main-signin">
        <h3>SIGN IN</h3>
        <div class="fill-in-acc">
            <div class="acc">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Name" />
            </div>
            <div class="password">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" />
            </div>
            <button>SIGN IN</button>
        </div>
    </div>
</div>