#header {
  width: 100%;
  margin: 0 auto;
  background-color: #49b14d; }
  #header .size {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; }
  #header .header-link {
    border-bottom: 1px solid white; }
    #header .header-link .header-static {
      display: flex; }
      #header .header-link .header-static div {
        color: white; }
      #header .header-link .header-static a {
        color: white;
        margin-left: 20px;
        font-size: 16px; }
        #header .header-link .header-static a .fa-facebook-f {
          font-size: 15px; }
      #header .header-link .header-static a:hover {
        color: yellow; }
    #header .header-link .header-link-right a {
      text-decoration: none;
      color: white;
      font-family: Roboto;
      font-size: 15px; }
      #header .header-link .header-link-right a .fa-sign-in-alt {
        font-size: 16px; }
    #header .header-link .header-link-right .sign-in {
      margin-right: 10px; }
    #header .header-link .header-link-right a:hover {
      color: yellow; }
  #header .header-main .logo img {
    display: block;
    max-width: 200px;
    max-height: 60px;
    width: auto;
    height: auto; }
  #header .header-main .search input {
    padding: 10px 10px;
    width: 350px;
    border: none;
    outline: none;
    border-radius: 5px; }
  #header .header-main .sdt {
    display: flex; }
    #header .header-main .sdt .hotline {
      display: flex;
      margin-right: 30px; }
      #header .header-main .sdt .hotline img {
        display: block;
        max-width: 45px;
        max-height: 45px;
        width: auto;
        height: auto;
        margin-right: 10px; }
      #header .header-main .sdt .hotline .phone-number {
        line-height: 1; }
        #header .header-main .sdt .hotline .phone-number p {
          margin: 0;
          font-family: Roboto; }
        #header .header-main .sdt .hotline .phone-number .p1 {
          color: white;
          font-size: 15px; }
        #header .header-main .sdt .hotline .phone-number .p2 {
          color: yellow;
          font-size: 23px; }
  #header .header-main .cart {
    position: relative;
    display: inline-block; }
    #header .header-main .cart a {
      border-radius: 5px;
      border: 1px solid white;
      color: white;
      padding: 10px 15px; }
      #header .header-main .cart a i {
        font-size: inherit;
        display: inline-block;
        margin-top: 15px; }
  #header .header-main .cart-dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    min-width: 250px;
    background-color: #f9f9f9;
    padding: 50px 16px;
    z-index: 1000;
    animation-delay: 2s; }
  #header .header-main .btn-cart {
    display: flex;
    justify-content: space-between; }
  #header .header-main .cart:hover .cart-dropdown-content {
    display: block; }

#nav-bar {
  width: 100%;
  margin: 0 auto;
  justify-content: left;
  background-color: #eef0f7;
  border: 0px 0px 1px 0px solid; }
  #nav-bar .menu-nav-bar {
    width: 90%;
    max-width: 1728px;
    list-style: none;
    display: flex;
    margin: 0 auto;
    position: relative; }
    #nav-bar .menu-nav-bar .tilte-menu {
      margin-right: 30px;
      padding: 15px 0px;
      position: static; }
      #nav-bar .menu-nav-bar .tilte-menu .link-tm {
        text-decoration: none;
        color: #29324e;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        padding: 15px 0px; }
      #nav-bar .menu-nav-bar .tilte-menu .mega-menu {
        min-width: auto;
        display: none;
        list-style: none;
        color: #29324e;
        padding: 0;
        position: absolute;
        top: 100%;
        width: 93%;
        background-color: white; }
        #nav-bar .menu-nav-bar .tilte-menu .mega-menu .mega-menu-mini {
          width: 230px;
          border-left: 1px solid cadetblue;
          border-bottom: 1px solid cadetblue; }
          #nav-bar .menu-nav-bar .tilte-menu .mega-menu .mega-menu-mini .link-mega-menu-mn {
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            padding: 10px 10px;
            color: #29324e; }
            #nav-bar .menu-nav-bar .tilte-menu .mega-menu .mega-menu-mini .link-mega-menu-mn .fa-angle-right {
              padding-top: 5px; }
          #nav-bar .menu-nav-bar .tilte-menu .mega-menu .mega-menu-mini .build-conf {
            display: none;
            padding: 0;
            background-color: green;
            position: absolute;
            top: 0;
            left: 230px; }
            #nav-bar .menu-nav-bar .tilte-menu .mega-menu .mega-menu-mini .build-conf .main-build {
              position: static;
              display: flex; }
              #nav-bar .menu-nav-bar .tilte-menu .mega-menu .mega-menu-mini .build-conf .main-build .list-options-build {
                background-color: yellowgreen;
                list-style: none;
                grid-template-columns: auto auto; }
              #nav-bar .menu-nav-bar .tilte-menu .mega-menu .mega-menu-mini .build-conf .main-build img {
                float: right; }
        #nav-bar .menu-nav-bar .tilte-menu .mega-menu .mega-menu-mini:hover .link-mega-menu-mn {
          color: white;
          background-color: #29324e; }
    #nav-bar .menu-nav-bar .tilte-menu:hover .link-tm {
      color: #49b14d; }
    #nav-bar .menu-nav-bar .product:hover .mega-menu {
      display: block; }
