#header-id {
  width: 100%;
  background-color: #49b14d; }
  #header-id #header-main {
    max-width: 120em;
    margin: 0 auto; }
    #header-id #header-main .header-top {
      max-width: 85%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 0.5em 0.3em;
      border-bottom: white 1px solid; }
      #header-id #header-main .header-top .social {
        display: flex; }
        #header-id #header-main .header-top .social .follow {
          color: white; }
        #header-id #header-main .header-top .social .social-network {
          color: white;
          margin-left: 1em; }
        #header-id #header-main .header-top .social a:hover {
          color: yellow; }
      #header-id #header-main .header-top .hotline-info {
        display: flex; }
        #header-id #header-main .header-top .hotline-info img {
          max-width: 25px;
          max-height: 25px;
          width: auto;
          height: auto;
          margin-right: 5px; }
        #header-id #header-main .header-top .hotline-info div span {
          color: white;
          font-family: Roboto; }
        #header-id #header-main .header-top .hotline-info div a {
          text-decoration: none;
          color: yellow; }
  #header-id .header-container {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.3em; }
    #header-id .header-container .logo a img {
      display: block;
      max-width: 12.5em;
      max-height: 3.75em;
      width: auto;
      height: auto; }
    #header-id .header-container .search {
      margin-top: 6px;
      margin-left: 3em; }
      #header-id .header-container .search form input {
        padding: 0.7em 0.7em;
        width: 25vw;
        border: none;
        outline: none;
        border-radius: 5px; }
  #header-id #nav-bar {
    width: 100%;
    background-color: #eef0f7; }
    #header-id #nav-bar .menu-nav-bar {
      margin: 0 auto;
      max-width: 120em; }
      #header-id #nav-bar .menu-nav-bar .list-menu {
        margin: 0 auto;
        width: 90%;
        display: flex;
        list-style: none;
        position: relative; }
        #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu {
          padding: 0.7em 0;
          margin-right: 3em; }
          #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu a {
            padding: 1em 0;
            text-decoration: none;
            color: #29324e;
            font-weight: unset; }
          #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu {
            display: none;
            list-style: none;
            position: absolute;
            background-color: white;
            top: 100%;
            width: 94%;
            padding-left: 0;
            z-index: 2;
            border-right: 1px solid cadetblue;
            border-bottom: 1px solid cadetblue; }
            #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini {
              width: 20%;
              padding: 0.6em 0.5em;
              border-left: 1px solid cadetblue;
              border-bottom: 1px solid cadetblue; }
              #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini .fa-angle-right {
                float: right; }
              #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini .detail-sb-menu {
                display: none;
                position: absolute;
                padding: 0;
                width: 80%;
                right: 0;
                top: 0; }
                #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini .detail-sb-menu .title-sb-menu {
                  color: #49b14d;
                  padding: 0.5em 0 0 1em; }
                #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini .detail-sb-menu .container-sb-menu {
                  display: flex;
                  justify-content: space-between; }
                  #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini .detail-sb-menu .container-sb-menu .list-sb-menu {
                    width: 66%;
                    list-style: none;
                    padding-left: 0;
                    display: grid;
                    clear: both;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 2.7em 2.7em 2.7em 2.7em 2.7em; }
                    #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini .detail-sb-menu .container-sb-menu .list-sb-menu a {
                      padding: 0.6em 0 0 1.5em; }
                    #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini .detail-sb-menu .container-sb-menu .list-sb-menu a:hover {
                      background-color: #d2d2d2; }
                  #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini .detail-sb-menu .container-sb-menu .img-detail {
                    width: 34%;
                    margin-top: 80px;
                    margin-right: 20px; }
                    #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini .detail-sb-menu .container-sb-menu .img-detail .img {
                      float: right;
                      max-width: 17em;
                      max-height: 10em;
                      width: auto;
                      height: auto; }
            #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini:hover {
              background-color: #29324e; }
            #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini:hover .link-menu-mn {
              color: white; }
            #header-id #nav-bar .menu-nav-bar .list-menu .tilte-menu .submenu .menu-mini:hover .detail-sb-menu {
              display: block; }
        #header-id #nav-bar .menu-nav-bar .list-menu .product:hover .submenu {
          display: block; }

#slide-event {
  margin-top: 1.5em;
  margin-bottom: 2em;
  max-width: 1200px;
  max-height: 600px;
  width: auto;
  height: auto;
  left: 50%;
  transform: translate(-50%, 0); }

.login-cart {
  display: flex;
  align-items: center; }
  .login-cart .cart .cart-in {
    background-color: #49b14d;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 10em;
    margin-right: 4em; }
  .login-cart .login {
    display: flex; }
    .login-cart .login .color-r {
      text-decoration: none;
      color: white;
      font-family: Roboto;
      margin-left: 0.7em;
      clear: both; }
    .login-cart .login .color-r:hover {
      color: yellow; }

#user-panel {
  position: relative;
  display: inline-block;
  cursor: pointer; }
  #user-panel img {
    width: 3em;
    height: 3em;
    border-radius: 50%; }
  #user-panel .dropbtn {
    color: white;
    border: none;
    background-color: #49b14d; }
  #user-panel .dropdown-user {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    #user-panel .dropdown-user a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center; }
    #user-panel .dropdown-user a:hover {
      background-color: #ddd; }
  #user-panel .show {
    display: block; }

.account-detail {
  margin-top: 2em;
  position: relative; }
  .account-detail .account-detail-header {
    height: 18.5em; }
    .account-detail .account-detail-header .bg-user {
      height: 80%;
      width: 100%;
      overflow: hidden;
      position: relative; }
      .account-detail .account-detail-header .bg-user .change-bg-acc {
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 5px;
        border: 0; }
      .account-detail .account-detail-header .bg-user img {
        max-width: 100%;
        width: auto;
        height: auto; }
    .account-detail .account-detail-header .account-detail-footer {
      padding: 10px 0;
      height: 20%;
      display: flex;
      list-style: none;
      margin-left: 13.2em; }
      .account-detail .account-detail-header .account-detail-footer li {
        margin-right: 10px; }
        .account-detail .account-detail-header .account-detail-footer li span {
          font-weight: bold; }
  .account-detail #user-avt {
    width: 10em;
    height: 10em;
    position: absolute;
    bottom: 2.2em;
    display: flex; }
    .account-detail #user-avt .avt-acc img {
      margin-left: 2em;
      width: 10em;
      height: 10em;
      border-radius: 50%;
      border-style: solid;
      border-width: 3px;
      border-color: white;
      background-color: black; }
    .account-detail #user-avt .avt-acc #btn-change-avt {
      display: none;
      border: none;
      width: 2em;
      height: 2em;
      border-radius: 3px;
      background-color: #D1C2BF;
      position: relative;
      left: 9em;
      top: -2.9em;
      cursor: pointer;
      text-align: center; }
      .account-detail #user-avt .avt-acc #btn-change-avt p {
        margin: auto; }
    .account-detail #user-avt .info-acc {
      margin-top: 2.5em;
      margin-left: 1.5em; }
      .account-detail #user-avt .info-acc p {
        font-weight: bold;
        font-size: 1.25em;
        color: white; }
  .account-detail #user-avt:hover #btn-change-avt {
    display: flex; }

@media screen and (max-width: 85em) {
  .login-cart .login {
    margin-top: 0em;
    display: flex;
    flex-direction: column; }
    .login-cart .login a {
      padding: 0em 0.5em; }
    .login-cart .login .sign-in {
      margin-bottom: 0.2em; }
  .login-cart .cart {
    margin-left: 3em; } }
