#footer-id {
  width: 100%;
  margin: 0 auto;
  background-color: #333;
  margin-top: 3em; }
  #footer-id .footer-main {
    width: 85%;
    max-width: 1728px;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 30px 20px 10px 20px; }
    #footer-id .footer-main .gt {
      width: 25%;
      line-height: 1.2; }
      #footer-id .footer-main .gt a {
        text-decoration: none;
        color: white; }
        #footer-id .footer-main .gt a .logo-ft {
          max-width: 200px;
          max-height: auto; }
      #footer-id .footer-main .gt .address {
        padding-top: 10px; }
        #footer-id .footer-main .gt .address p {
          font-family: Roboto;
          font-size: 14px; }
      #footer-id .footer-main .gt .footer-social a {
        font-size: large;
        margin-right: 10px; }
      #footer-id .footer-main .gt .footer-social a:hover {
        color: yellow; }
    #footer-id .footer-main .ft-main {
      width: 60%;
      display: flex;
      justify-content: space-between; }
      #footer-id .footer-main .ft-main div .ft-content {
        display: inline-grid;
        line-height: 1.8; }
        #footer-id .footer-main .ft-main div .ft-content a {
          text-decoration: none;
          color: #888; }
        #footer-id .footer-main .ft-main div .ft-content a:hover {
          color: white; }
      #footer-id .footer-main .ft-main div h6 {
        font-size: 18px; }
      #footer-id .footer-main .ft-main div a {
        font-size: 15px;
        font-weight: normal; }
