.register-panel,
.login-panel {
  margin: 3em; }
  .register-panel .btn,
  .login-panel .btn {
    background-color: #49b14d;
    color: white;
    border-color: #49b14d; }
  .register-panel #helper-login,
  .login-panel #helper-login {
    color: red;
    font-style: italic;
    background-color: thistle;
    width: auto; }

.small {
  color: #49b14d; }
  .small a {
    color: #49b14d; }

.shadow-lg {
  border-width: 0.1em;
  border-color: #49b14d; }

h3 {
  color: #49b14d; }
