.container-product {
  width: 100%;
  margin: 0 auto; }
  .container-product .ls-product .ls-product-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0; }
    .container-product .ls-product .ls-product-top .line-left {
      display: flex;
      width: 35%; }
      .container-product .ls-product .ls-product-top .line-left .rectangle {
        width: 100%;
        height: 11px;
        background: #dddfe6; }
      .container-product .ls-product .ls-product-top .line-left .triangle_down {
        border-top: 11px solid #dddfe6;
        border-right: 7px solid transparent; }
    .container-product .ls-product .ls-product-top .line-right {
      display: flex;
      width: 35%; }
      .container-product .ls-product .ls-product-top .line-right .rectangle {
        width: 100%;
        height: 11px;
        background: #dddfe6; }
      .container-product .ls-product .ls-product-top .line-right .triangle_down-right {
        border-bottom: 11px solid #dddfe6;
        border-left: 7px solid transparent; }
    .container-product .ls-product .ls-product-top .title-lspd {
      font-family: Roboto;
      font-weight: bold;
      font-size: 1.5em; }
  .container-product .ls-product .ls-product-main {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 8em 8em; }
    .container-product .ls-product .ls-product-main a {
      position: relative;
      overflow: hidden;
      text-decoration: none;
      font-family: Roboto;
      font-size: 1.2em;
      background-color: #49b14d; }
      .container-product .ls-product .ls-product-main a .detail-lspm {
        display: flex;
        padding: 1em 0 1em 1em;
        color: white; }
        .container-product .ls-product .ls-product-main a .detail-lspm .tilte-lspm {
          position: relative;
          z-index: 1; }
        .container-product .ls-product .ls-product-main a .detail-lspm img {
          position: absolute;
          top: 10%;
          left: 60%;
          max-width: 199px;
          max-height: 99px;
          width: auto;
          height: auto;
          z-index: 1; }
        .container-product .ls-product .ls-product-main a .detail-lspm .shape {
          border-style: solid;
          border-width: 0 0 132px 34.656px;
          position: absolute;
          top: 0;
          left: 52%;
          width: 100%;
          overflow: hidden; }
    .container-product .ls-product .ls-product-main a:hover img {
      left: 52%;
      transition-duration: 0.3s; }
    .container-product .ls-product .ls-product-main a:hover .shape {
      left: 42%;
      transition-duration: 0.3s; }
