<div class="footer" id="footer">
    <div class="footer-main">
        <div class="gt">
            <a href="#"><img class="logo-ft" src="img/logo1.png" alt=""></a>
            <div class="address">
                <p><strong>Địa chỉ: </strong>Trâu Quỳ, Gia Lâm, Hà Nội</p>
                <p><strong>Số điện thoại: </strong><a href="tel:0987654321">0987 654 321</a></p>
                <p><strong>Email: </strong><a href="mailto:123@gmail.com">123@gmail.com</a></p>
            </div>
            <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="ft-main">
            <div class="gtc">
                <h6>Thông tin chung</h6>
                <div class="ft-content">
                    <a href="#">Giới thiệu</a>
                    <a href="#">Tin tức</a>
                    <a href="#">Liên hệ hợp tác</a>
                </div>
            </div>
            <div class="cs">
                <h6>Chính sách</h6>
                <div class="ft-content">
                    <a href="#">Quy định chung</a>
                    <a href="#">Chính sách vận chuyển</a>
                    <a href="#">Chính sách bảo hành</a>
                    <a href="#">Chính sách đổi trả hàng</a>
                </div>
            </div>
            <div class="promotion">
                <h6>Thông tin khuyến mãi</h6>
                <div class="ft-content">
                    <a href="#">Sản phẩm bán chạy</a>
                    <a href="#">Sản phẩm khuyến mãi</a>
                    <a href="#">Hàng thanh lý</a>
                </div>
            </div>
        </div>
    </div>
</div>