<div id="header">
    <div id="header-main">
        {{!-- phần header trên --}}
        <div class="header-top">
            <div class="social">
                <div class="follow">Theo dõi:</div>
                <a class="social-network" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="social-network" href="#"><i class="fab fa-google-plus-g"></i></a>
                <a class="social-network" href="#"><i class="fab fa-instagram"></i></a>
            </div>
            {{!-- hotline --}}
            <div class="hotline-info">
                <img src="/img/hotline_image.png" alt="">
                <div>
                    <span>Hotline:</span>
                    <a href="tel:+84987654321">0987 654 321</a>
                </div>
            </div>
        </div>
        {{!-- phần header dưới --}}
        <div class="header-container">
            {{!-- logo --}}
            <div class="logo">
                <a href="/"><img src="/img/logo.png" alt="logo"></a>
            </div>
            {{!-- thanh tìm kiếm --}}
            <div class="search">
                <form action="">
                    <input type="search" placeholder="Nhập thông tin cần tìm...">
                </form>
            </div>
            {{!-- khu vực đăng nhập + giỏ hàng --}}
            <div class="header-container-right row">
                <div class="cart col">
                    <p>Giỏ hàng</p>
                </div>
                <div class="login col-7" id="login-header">
                    <a href="/account/login" class="sign-in">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Đăng nhập</span>
                    </a>
                    <a href="/account/register">
                        <i class="fas fa-user-plus"></i>
                        <span>Đăng ký</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{!-- menu chính --}}
    <div id="nav-bar">
        <div class="menu-nav-bar">
            <ul class="list-menu">
                <li class="tilte-menu product"><a class="link-tm" href="#"><i class="fas fa-desktop"></i> DANH MỤC SẢN
                        PHẨM <i class="fas fa-angle-right"></i></a>
                    <ul class="submenu">
                        <li class="menu-mini"><a class="link-menu-mn" href="#">XÂY DỰNG CẤU HÌNH<i
                                    class="fas fa-angle-right"></i></a>
                            <ul class="detail-sb-menu">
                                <h4 class="title-sb-menu">XÂY DỰNG CẤU HÌNH PC</h4>
                                <div class="container-sb-menu">
                                    <ul class="list-sb-menu">
                                        <li><a href="#">GAMING PC</a></li>
                                        <li><a href="#">WORKSTATION</a></li>
                                        <li><a href="#">DUCTIVITY</a></li>
                                        <li><a href="#">CRETORY</a></li>
                                        <li><a href="#">AUDIO</a></li>
                                    </ul>
                                    <div class="img-detail">
                                        <img class="img" src="/img/pc.png" alt="">
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="menu-mini"><a class="link-menu-mn" href="#">LAPTOPS<i
                                    class="fas fa-angle-right"></i></a>
                            <ul class="detail-sb-menu">
                                <h4 class="title-sb-menu">LAPTOP</h4>
                                <div class="container-sb-menu">
                                    <ul class="list-sb-menu">
                                        <li><a href="#">GAMING LAPTOP</a></li>
                                        <li><a href="#">LAPTOP VĂN PHÒNG</a></li>
                                    </ul>
                                    <div class="img-detail">
                                        <img class="img" src="/img/Laptop.png" alt="">
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="menu-mini"><a class="link-menu-mn" href="#">MACBOOK<i
                                    class="fas fa-angle-right"></i></a></li>
                        <li class="menu-mini"><a class="link-menu-mn" href="#">LINH KIỆN MÁY TÍNH<i
                                    class="fas fa-angle-right"></i></a>
                            <ul class="detail-sb-menu">
                                <h4 class="title-sb-menu">LINH KIỆN MÁY TÍNH</h4>
                                <div class="container-sb-menu">
                                    <ul class="list-sb-menu">
                                        <li><a href="#">CPU - Bộ vi xử lý</a></li>
                                        <li><a href="#">Case - Vỏ máy tính</a></li>
                                        <li><a href="#">Mainboard - Bo mạch chủ</a></li>
                                        <li><a href="#">RAM - Bộ nhớ trong</a></li>
                                        <li><a href="#">Ổ cứng SSD</a></li>
                                        <li><a href="#">Ổ cứng HDD</a></li>
                                        <li><a href="#">VGA - Card màn hình</a></li>
                                        <li><a href="#">PSU - Nguồn máy tính</a></li>
                                        <li><a href="#">Combo Linh kiện</a></li>
                                    </ul>
                                    <div class="img-detail">
                                        <img class="img" src="/img/linhkien.png" alt="">
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="menu-mini"><a class="link-menu-mn" href="#">MÀN HÌNH MÁY TÍNH<i
                                    class="fas fa-angle-right"></i></a>
                            <ul class="detail-sb-menu">
                                <h4 class="title-sb-menu">MÀN HÌNH MÁY TÍNH</h4>
                                <div class="container-sb-menu">
                                    <ul class="list-sb-menu">
                                        <li><a href="#">Màn hình Gaming</a></li>
                                        <li><a href="#">Màn hình đồ họa</a></li>
                                        <li><a href="#">Màn hình văn phòng</a></li>
                                    </ul>
                                    <div class="img-detail">
                                        <img class="img" src="/img/manhinh.png" alt="">
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="menu-mini"><a class="link-menu-mn" href="#">GAMING GEARS<i
                                    class="fas fa-angle-right"></i></a>
                            <ul class="detail-sb-menu">
                                <h4 class="title-sb-menu">GAMING GEARS</h4>
                                <div class="container-sb-menu">
                                    <ul class="list-sb-menu">
                                        <li><a href="#">Bàn phím cơ</a></li>
                                        <li><a href="#">Bàn di chuột</a></li>
                                        <li><a href="#">Microphone</a></li>
                                        <li><a href="#">Chuột Gaming</a></li>
                                        <li><a href="#">Bàn, Ghế Gaming</a></li>
                                        <li><a href="#">Tai nghe Gaming</a></li>
                                        <li><a href="#">Thiết bị Stream</a></li>
                                    </ul>
                                    <div class="img-detail">
                                        <img class="img" src="/img/gear.png" alt="">
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="menu-mini"><a class="link-menu-mn" href="#">PHỤ KIỆN-TẢN NHIỆT PC<i
                                    class="fas fa-angle-right"></i></a>
                            <ul class="detail-sb-menu">
                                <h4 class="title-sb-menu">PHỤ KIỆN - TẢN NHIỆT PC</h4>
                                <div class="container-sb-menu">
                                    <ul class="list-sb-menu">
                                        <li><a href="#">Tản nhiệt khí cho PC</a></li>
                                        <li><a href="#">Tản nhiệt nước ALL IN ONE</a></li>
                                        <li><a href="#">Quạt tản nhiệt PC</a></li>
                                        <li><a href="#">Dây nối dài - Dây Riser</a></li>
                                        <li><a href="#">Giá đỡ VGA</a></li>
                                    </ul>
                                    <div class="img-detail">
                                        <img class="img" src="/img/tannhiet.png" alt="">
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="menu-mini"><a class="link-menu-mn" href="#">THIẾT BỊ VĂN PHÒNG<i
                                    class="fas fa-angle-right"></i></a>
                            <ul class="detail-sb-menu">
                                <h4 class="title-sb-menu">THIẾT BỊ VĂN PHÒNG</h4>
                                <div class="container-sb-menu">
                                    <ul class="list-sb-menu">
                                        <li><a href="#">Loa máy tính</a></li>
                                        <li><a href="#">Phần mềm bản quyền</a></li>
                                        <li><a href="#">Bàn phím - Chuột</a></li>
                                        <li><a href="#">Bộ bàn phím chuột không dây</a></li>
                                        <li><a href="#">Máy in Laser</a></li>
                                        <li><a href="#">Webcam</a></li>
                                        <li><a href="#">Bộ chia/HUB chia</a></li>
                                    </ul>
                                    <div class="img-detail">
                                        <img class="img" src="/img/vanphong.png" alt="">
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="menu-mini"><a class="link-menu-mn" href="#">THIẾT BỊ MẠNG<i
                                    class="fas fa-angle-right"></i></a>
                            <ul class="detail-sb-menu">
                                <h4 class="title-sb-menu">THIẾT BỊ MẠNG</h4>
                                <div class="container-sb-menu">
                                    <ul class="list-sb-menu">
                                        <li><a href="#">Router Wifi</a></li>
                                        <li><a href="#">Card Wifi</a></li>
                                    </ul>
                                    <div class="img-detail">
                                        <img class="img" src="/img/wifi.png" alt="">
                                    </div>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="tilte-menu"><a class="link-tm" href="#"><i class="fas fa-tools"></i> XÂY DỰNG CẤU HÌNH</a>
                </li>
                <li class="tilte-menu"><a class="link-tm" href="#"><i class="fas fa-gift"></i></i> SALE</a></li>
                <li class="tilte-menu"><a class="link-tm" href="#"><i class="far fa-newspaper"></i> TIN TỨC</a></li>
                <li class="tilte-menu"><a class="link-tm" href="#"><i class="fas fa-phone-alt"></i> LIÊN HỆ</a></li>
            </ul>
        </div>
    </div>
</div>