<div class="" id="header">
    <div class="size header-link">
        <div class="header-static">
            <div>Theo dõi:</div>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="header-link-right">
            <a href="#" class="sign-in">
                <i class="fas fa-sign-in-alt"></i>
                <span>Đăng nhập</span>
            </a>
            <a href="#">
                <i class="fas fa-user-plus"></i>
                <span>Đăng ký</span>
            </a>
        </div>
    </div>
    <div class="size header-main">
        <a class="logo" href="#"><img src="img/logo.png" alt="logo"></a>
        <div class="search"><input type="search" placeholder="Nhập thông tin cần tìm..."></div>
        <div class="sdt">
            <div class="hotline">
                <img src="img/hotline_image.png" alt="hotline">
                <div class="phone-number">
                    <p class="p1">Hotline</p>
                    <p class="p2">0987 654 321</p>
                </div>
            </div>
            <div class="cart">
                <a class="cart-drop" href="#"><i class="fas fa-cart-arrow-down"></i></a>
                <div class="cart-dropdown-content">
                    <p>Tổng cộng:</p>
                    <div class="btn-cart">
                        <button>Thanh toán</button>
                        <button>Giỏ Hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="nav-bar" class="nav-bar">
    <ul class="menu-nav-bar">
        <li class="tilte-menu product">
            <a class="link-tm" href="#"><i class="fas fa-desktop"></i> DANH MỤC SẢN PHẨM <i class="fas fa-angle-right"></i></a>
            <ul class="mega-menu">
                <li class="mega-menu-mini"><a class="link-mega-menu-mn" href="#">XÂY DỰNG CẤU HÌNH<i class="fas fa-angle-right"></i></a>
                    <ul class="build-conf">
                        <h4>XÂY DỰNG CẤU HÌNH</h4>
                        <div class="main-build">
                            <ul class="list-options-build">
                                <li><a href="#">GAMING PC</a></li>
                                <li><a href="#">WORKSTATION</a></li>
                            </ul>
                            
                        </div>
                    </ul>
                </li>
                <li class="mega-menu-mini"><a class="link-mega-menu-mn" href="#">LAPTOPS<i class="fas fa-angle-right"></i></a>
                    {{!-- <ul class="build-conf">
                        <h6>Xây dựng cấu hình</h6>
                        <li><a href="#">GAMING PC</a></li>
                        <li><a href="#">WORKSTATION</a></li>
                    </ul></li> --}}
                <li class="mega-menu-mini"><a class="link-mega-menu-mn" href="#">MACBOOK<i class="fas fa-angle-right"></i></a></li>
                <li class="mega-menu-mini"><a class="link-mega-menu-mn" href="#">LINH KIỆN MÁY TÍNH<i class="fas fa-angle-right"></i></a></li>
                <li class="mega-menu-mini"><a class="link-mega-menu-mn" href="#">MÀN HÌNH MÁY TÍNH<i class="fas fa-angle-right"></i></a></li>
                <li class="mega-menu-mini"><a class="link-mega-menu-mn" href="#">GAMING GEARS<i class="fas fa-angle-right"></i></a></li>
                <li class="mega-menu-mini"><a class="link-mega-menu-mn" href="#">PHỤ KIỆN-TẢN NHIỆT PC<i class="fas fa-angle-right"></i></a></li>
                <li class="mega-menu-mini"><a class="link-mega-menu-mn" href="#">THIẾT BỊ VĂN PHÒNG<i class="fas fa-angle-right"></i></a></li>
                <li class="mega-menu-mini"><a class="link-mega-menu-mn" href="#">THIẾT BỊ MẠNG<i class="fas fa-angle-right"></i></a></li>
            </ul>
        </li>














        <li class="tilte-menu"><a class="link-tm" href="#"><i class="fas fa-tools"></i> XÂY DỰNG CẤU HÌNH</a></li>
        <li class="tilte-menu"><a class="link-tm" href="#"><i class="fas fa-gift"></i></i> SALE</a></li>
        <li class="tilte-menu"><a class="link-tm" href="#"><i class="far fa-newspaper"></i> TIN TỨC</a></li>
        <li class="tilte-menu"><a class="link-tm" href="#"><i class="fas fa-phone-alt"></i> LIÊN HỆ</a></li>

    </ul>
</div>