<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="\css\fontAwsome\css\all.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="app">
    
    {{>header}}
    <div class="container">
        {{{body}}}
    </div>

    {{>footer}}
    </div>
     <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="/js/jquery/dist/jquery.slim.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/css/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script>
       let check = document.getElementById('checkLogin');
       if(check.innerHTML == 'true'){
        document.getElementById('login-header').style.display = 'none';
        document.getElementById('user-panel').style.display = 'block';
       }
    </script>
</body>

</html>